.App {
  text-align: center;
}

.App-header {
  background-color: mediumseagreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h4 {
  margin-top: 0rem!important;
}

.container > :not(:first-child) {
  margin-top: 0.5rem;
  border-top: 1px solid white;
  padding-top: 0.5rem;
}

.flip-grid-row {
  display: flex;
  align-items: center;
}

.flip-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 5px;
  border-radius: calc(2rem / 7);
}

.flip-grid-cell.dead {
  background-color: rgba(165, 42, 42, 0.8);
}

/* TODO: make these look nicer on devices of different sizes */
.cell-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: calc(2rem / 7);
  cursor: pointer;
  font-size: 14pt;
}

.cell-button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.cell-button.shown {
  background-color: rgb(255, 125, 147);
  cursor: default;
}

.cell-button.flipped {
  opacity: 1!important;
  background-color: rgb(255, 125, 147);
  cursor: default;
}

.cell-button.voltorb {
  opacity: 1!important;
  background-color: red;
  cursor: default;
}

.cell-button.voltorb > img {
  width: 100%;
}

.stats {
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  text-align: center;
  border: 2px dashed white;
  border-radius: calc(2rem / 7);
  width: 40px;
  height: 40px;
  background-color: green;
}

.grid-state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
}

.grid-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
}

.ui.checkbox.option-checkbox > label {
  color: white!important;
}
