.App {
  text-align: center;
}

.App-header {
  background-color: mediumseagreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h4 {
  margin-top: 0rem!important;
}

.container > :not(:first-child) {
  margin-top: 0.5rem;
  border-top: 1px solid white;
  padding-top: 0.5rem;
}

.flip-grid-row {
  display: flex;
  align-items: center;
}

.flip-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 5px;
  border-radius: calc(2rem / 7);
}

.flip-grid-cell.dead {
  background-color: rgba(165, 42, 42, 0.8);
}

.pbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: calc(2rem / 7);
  cursor: pointer;
  padding: 0.5em 1em;
}

.pbutton.disabled {
  opacity: 0.3!important;
  cursor: default;
}

.pbutton:hover:not(.disabled) {
  background-color: rgba(211, 211, 211, 0.5);
}

.cell-button {
  width: 80px;
  height: 80px;
  font-size: 24pt;
  padding: 0em;
}

.cell-button.shown {
  background-color: rgb(255, 125, 147);
  cursor: default;
}

.cell-button.flipped {
  opacity: 1!important;
  background-color: rgb(255, 125, 147);
  cursor: default;
}

.cell-button.voltorb {
  opacity: 1!important;
  background-color: red;
  cursor: default;
}

.cell-button.voltorb > img {
  width: 100%;
}

/* TODO: make these more responsive */
.stats {
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 6px 15px;
  text-align: center;
  border: 1px solid white;
  border-radius: calc(2rem / 7);
  width: 80px;
  height: 80px;
  background-color: green;
  font-size: 16pt;
}

.stats .voltorb-indicator {
  display: flex;
  align-items: center;
}

.stats img {
  width: 2em;
}

.grid-state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
}

.grid-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
}

.ui.checkbox.option-checkbox > label {
  color: white!important;
}

@media screen and (max-width: 768px) {
  .cell-button {
    width: 60px;
    height: 60px;
    font-size: 16pt;
  }

  .stats {
    width: 60px;
    height: 60px;
    font-size: 12pt;
    padding: 0px 0px 1px 11px;
  }
}

@media screen and (max-width: 480px) {
  .cell-button {
    width: 40px;
    height: 40px;
    font-size: 14pt;
  }

  .stats {
    width: 40px;
    height: 40px;
    font-size: 10pt;
    padding: 0px 0px 0px 8px;
  }

  .stats > .total-indicator {
    height: 16px;
  }

  .stats img {
    width: 16px;
  }
}
